<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com  -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>middle page</title>

    <!-- Swiper JS CSS-->
    <link rel="stylesheet" href="css/swiper-bundle.min.css">

    <!-- Scroll Reveal -->
    <link rel="stylesheet" href="css/scrollreveal.min.js">

    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
        
    <!-- CSS -->
    <link rel="stylesheet" href="css/middle.css">

</head>
<body>
<!-- Header -->
    <header class="header">
            <nav class="nav container flex">
                    <a href="#" class="logo-content flex">
                        <!-- <i class='bx bx-coffee logo-icon'></i> -->
                        <img src="img/newlogo.png" style="height: 80px;width: 150px; margin-bottom: 15px;"></img>
                        <span class="logo-text">Green Grid Logistic.</span>
                    </a>

                    <div class="menu-content">
                            <ul class="menu-list flex">
                                    
                                    <li><a href="#home" class="nav-link active-navlink">Our services at yout finger tips</a></li>
</li>

                            </ul>

                            <div class="media-icons flex">
                                    <a href="https://www.facebook.com"><i class='bx bxl-facebook'></i></a>
                                    <a href="https://twitter.com/i/flow/login"><i class='bx bxl-twitter' ></i></a>
                                    <a href="https://www.instagram.com/accounts/login"><i class='bx bxl-instagram-alt' ></i></a>
                                    <a href="https://github.com/login"><i class='bx bxl-github'></i></a>
                                    <a href="https://www.youtube.com/login"><i class='bx bxl-youtube'></i></a>
                            </div>

                            <i class='bx bx-x navClose-btn'></i>
                        </div>
                        
                        <div class="contact-content flex">
                            <i class='bx bx-phone phone-icon' ></i>
                            <span class="phone-number">9559878565</span>
                        </div>

                        <i class='bx bx-menu navOpen-btn'></i>
                </nav>
        
    </header>

<!-- Home Section -->
    <main>
        <section class="home" id="home">
                <div class="home-content">
                        <div class="swiper mySwiper">
                                <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                                <img src="img/bg1.avif" alt="" class="home-img">

                                                <div class="home-details">
                                                      <div class="mainhead"><h1 style="color: burlywood;"><b>Welcome to Green Grid Logistic Service center</b></h1><br></div>  
                                                        <div class="home-text">
                                                                <h4 class="homeSubtitle"> <br></h4>
                                                                <h2 style="font-size: 28px;" class="homeTitle">From Farm to Fork, We Connect the Dots</h2>
                                                        </div>
                                                    

                                                                                                               
                                                </div>
                                                
                                        </div>

                                        <div class="swiper-slide">
                                                <img src="img/bg2.png" alt="" class="home-img">

                                                <div class="home-details">
                                                        <div class="home-text">
                                                                <div class="mainhead"><h1 style="color: burlywood;"><b>Welcome to Green Grid Logistic Service center</b></h1><br></div>  
                                                                
                                                                <h4 class="homeSubtitle"></h4>
                                                                <h2 style="font-size: 28px;" class="homeTitle">Optimizing Agriculture, Minimizing Waste: Our Promise to You</h2>
                                                        </div>

                                                       
                                                </div>
                                        </div>

                                        <div class="swiper-slide">
                                                <img src="img/bg3.png" alt="" class="home-img">

                                                <div class="home-details">
                                                        <div class="home-text">
                                                                <div class="mainhead"><h1 style="color: burlywood;"><b>Welcome to Green Grid Logistic Service center</b></h1><br></div>  
                                                                
                                                                <h4 class="homeSubtitle"></h4>
                                                                <h2 style="font-size: 28px;" class="homeTitle">Smart Warehousing, Fresher Harvests, Happier Tomorrow.</h2>
                                                        </div>

                                                      
                                                </div>
                                        </div>
                                </div>

                                <div class="swiper-button-next swiper-navBtn"></div>
                                <div class="swiper-button-prev swiper-navBtn"></div>
                                <div class="swiper-pagination"></div>
                        </div>
                </div>
        </section>

    
<!-- About Section -->
        <section class="section about" id="about">
                <div class="about-content container">
                        <div class="about-imageContent">
                                <img src="img/aboutimg.png" alt="" class="about-img">

                                <div class="aboutImg-textBox">
                                        <i class='bx bx-heart heart-icon flex'></i>
                                        <form action="/detail" method="get"><button style="height: 60px;width: 300px; color: blue;">Connect to Warehouses</button></p></form>
                                </div>
                        </div>

                        <div class="about-details">
                                <div class="about-text">
                                        
                                        <h2 class="content-title">Farmers' Hub:  Discover and Connect with Nearby Warehouses!  </h2>
                                        <p class="content-description">Welcome to the Farmers' Hub—an intuitive portal connecting farmers with nearby warehouses. Easily discover, assess, and connect with warehouses based on your location. Our user-friendly interface and real-time updates simplify the process, ensuring you make informed decisions. Each warehouse profile provides essential details, and direct communication is just a click away. Share your experiences through feedback, contributing to a trusted community. With dedicated support, Farmers' Hub is your ally in optimizing storage solutions. Join us for a seamless, efficient, and smart farming experience.</p>

        
                                </div>

                
                        </div>

                </div>
        </section>



<!-- Features section -->

<section class="section about" id="about">
        <div class="about-content container">
                <div class="about-text">
                        
                                
                        <h2 class="content-title">Warehouse Wizard: Empower Your Storage with Smart Inventory Management!</h2>
                        <p class="content-description">
                                Introducing Warehouse Wizard, your ultimate tool for empowered storage management. This portal is tailor-made for warehouse owners, offering a seamless interface for smart inventory management. Streamline your operations, optimize storage, and make data-driven decisions. With Warehouse Wizard, take control of your warehouse or cold storage facility like never before. Efficient, intuitive, and designed for success. Welcome to the future of warehouse management.</p>


                </div>
                

                <div class="about-details">
                        
                        <div class="about-imageContent">
                                <img src="img/featureimage.png" alt="" class="about-img">

                                <div class="aboutImg-textBox">
                                        <i class='bx bx-heart heart-icon flex'></i>
                                        <form action="/ware" method="get"><p class="content-description"><button style="height: 60px;width: 300px; color: blue;">Manage Your Warehouses</button></p></form>
                                </div>
                        </div>

                </div>

        </div>
</section>

<!-- About Section2 -->
<section class="section about" id="about">
        <div class="about-content container">
                <div class="about-imageContent">
                        <img src="img/3.jpeg" alt="" class="about-img">

                        <div class="aboutImg-textBox">
                                <i class='bx bx-heart heart-icon flex'></i>
                                <p class="content-description"><button style="height: 60px;width: 300px; color: blue;">Connect to NGO's</button></p>
                        </div>
                </div>

                <div class="about-details">
                        <div class="about-text">
                                
                                <h2 class="content-title">Nourish Together: Connecting Restaurants with NGOs to Combat Food Waste! </h2>
                                <p class="content-description">Welcome to "Nourish Together," a revolutionary portal fostering collaboration between restaurant owners and NGOs to combat food waste. This platform is dedicated to connecting surplus restaurant food with organizations dedicated to feeding animals in need. Restaurant owners can seamlessly engage with NGOs, ensuring that excess food is repurposed to nourish those who need it most. Join us in creating a sustainable and compassionate food ecosystem. Together, let's make a difference in reducing food waste and supporting those who depend on our shared resources.</p>


                        </div>

        
                </div>

        </div>
</section>


    
<!-- Menu Section -->

<section>
       
       <div class="foot" style="height: 120px; display:flex; justify-content: center; background-color:  rgb(32, 32, 32);">
        <p style="align-items: center;
        font-size: 50px;color: whitesmoke;">Thanks For visiting us.</p>
       </div>

 

    

        
    


<!-- Scroll Up -->
        <a href="#home" class="scrollUp-btn flex">
                <i class='bx bx-up-arrow-alt scrollUp-icon'></i>
        </a>

</main>

<!-- Swiper JS -->
<script src="js/swiper-bundle.min.js"></script>

<!-- Scroll Reveal -->
<script src="js/scrollreveal.js"></script>

<!-- JavaScript -->
    <script src="js/script.js"></script>
</body>
</html>